<footer class="footer-wrapper text-center">
    <div style="width: 85%;" class="container ast-container">
        <div class="row">
            <div class="col-md-12 logo">
                <a href="#"><img src="assets/images/footer_logo.png"></a>
            </div>
            <div class="col-md-12"> 
                <div class="row">

                    <div class="col-md-4 col-lg-4 col-xs-12 address footer-common">
                        <h4>Our Address</h4>
                        <i><fa-icon [icon]="faGlobe"></fa-icon></i>
                        <p>A-163, GRUHAM ICON, OPPOSITE KOSAD LAKE GARDEN, KOSAD, AMROLI, 
                            SURAT, GJ, INDIA
                        </p>
                     </div>
  
                    <div class="col-md-4 col-lg-4 col-xs-12 mail footer-common">
                        <h4>Our Mailbox</h4>
                        <i><fa-icon [icon]="faEnvelope"></fa-icon></i>
                        <a href="mailto:mountainsdriventechnologies@gmail.com">
                            mountainsdriventechnologies@gmail.com
                        </a>
                    </div>
  
                    <div class="col-md-4 col-lg-4 col-xs-12 phone footer-common">
                        <h4>Our Phone</h4>
                        <i><fa-icon [icon]="faPhone"></fa-icon></i>
                        <a href="tel:8401413132">+91 84014 13132</a>
                    </div>
  
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#about">About Us</a></li>
                            <li><a class="nav-link" href="#testimonial">Testimonial</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
  
                    <div class="copyright w-100 text-center">
                              Copyright @ 2021 by Mountains Driven Technologies. 
                              All Rights Reserved.
                    </div>
  
                    <div class="social-media w-100 text-center">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/MountainsDriven-Technologies-104586745149960">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/mountainsdriventechnologies/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/MountDrivenTech">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCW76aj7ZwdzMQSotjYo8OIQ/featured">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/mountainsdriven-technologies-0b5693212/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>