<section class="page-section container-fluid about-section" id="about">
    <div style="width: 90%;" class="container ast-container">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12" data-aos="zoom-in" data-aos-duration="1500">
            <h4 style="color: #5cc42c; font-weight: 600; font-size: large;" class="sub-title">ABOUT US</h4>
            <h3 class="main-title" [ngClass]="{'light-h3': isActive}">
                We Are Increasing Business <br/>Success With Technology
            </h3>
            <p [ngClass]="{'light-text': isActive}">
                Over years working in IT services developing software 
                <br />applications and mobile apps for clients all over the world.
            </p>
    
            <div class="bar one">
                <div class="inner-process" [ngClass]="{'light-text': isActive}">
                    <h6>Software Development</h6>
                    <h6>90%</h6>
                </div>
                <div class="progress">
                    <!-- <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div> -->
                    <progressbar [value]="90" type="warning" [striped]="true" [animate]="true"></progressbar>
                </div>
            </div>
    
            <div class="bar two">
                <div class="inner-process" [ngClass]="{'light-text': isActive}">
                    <h6>Web Development</h6>
                    <h6>85%</h6>
                </div>
                <div class="progress">
                    <!-- <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div> -->
                    <progressbar [value]="85" type="success" [striped]="true" [animate]="true"></progressbar>
                </div>
            </div>
    
            <div class="bar three">
                <div class="inner-process" [ngClass]="{'light-text': isActive}">
                    <h6>Analytics</h6>
                    <h6>95%</h6>
                </div>
                <div class="progress">
                    <!-- <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div> -->
                    <progressbar [value]="95" [striped]="true" [animate]="true"></progressbar>
                </div>
            </div>
    
            <div class="bar four">
                <div class="inner-process" [ngClass]="{'light-text': isActive}">
                    <h6>Cyber Security</h6>
                    <h6>88%</h6>
                </div>
                <div class="progress">
                    <!-- <div class="progress-bar" role="progressbar" style="width: 81%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div> -->
                    <progressbar [value]="88" type="danger" [striped]="true" [animate]="true"></progressbar>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 about-img" data-aos="zoom-in-up" data-aos-duration="1500">
            <img src="assets/images/about_img_.png" class="img-fluid">
        </div>
        </div>
    </div>
</section>
